@use "sass:math";
@import '../../styles/settings.scss';

.favourite_columns {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.favourite_column {
  flex-shrink: 0;
  width: calc(33% - 12px);
  background: $color-light;
  margin: 0 $base-size $base-size 0;
  padding: ($base-size * 1.5);
  border-radius: $radius;
  box-shadow: 0 math.div($base-size, 4) 0 rgba(0,0,0,0.3);
  color: $color-dark;

  &:last-child {
    margin: 0 0 $base-size 0;
  }
}

.favourite_cards {
  padding: math.div($base-size, 2) 0;
}

@media (max-width: 767px) {
  .favourite_column {
    width: 100%;
    margin: 0 0 $base-size 0;
  }
}